<div id="<%= dom_id quiz %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= quiz.title %></h5>
    <p class="card-text"><%= quiz.description %></p>
    <%= link_to "Show this quiz", quiz_path(quiz.token), class: "btn btn-primary" %>
  </div>
</div>
