<div class="container mt-4">
  <%= render "shared/alerts" %>

  <h1 class="mb-4">Quizzes</h1>

  <div id="quizzes" class="row">
    <% @quizzes.each do |quiz| %>
      <div class="col-md-4 mb-3">
        <%= render quiz %>
      </div>
    <% end %>
  </div>
</div>
