<%= turbo_stream.replace "join_quiz" do %>
  <% if status == :success %>
    <div class="alert alert-success" role="alert"><%= message %></div>
  <% else %>
    <div class="alert alert-danger" role="alert"><%= message %></div>
  <% end %>
<% end %>

<%#= turbo_stream.append "participations_list" do %>
  <%#= render partial: "participation", locals: { participation: @participation } %>
<%# end %>

<%#= turbo_stream.update "participants_count", @participation_count %>
