<h1>New quiz</h1>

<div class="min-h-[80vh] flex items-center justify-center px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md">
    <div class="bg-white shadow-md rounded-lg">
      <div class="px-6 py-8">
        <%= render "form", quiz: @quiz %>
      </div>
    </div>

    <div class="mt-4">
      <%= render partial: 'layouts/flash_errors' %>
    </div>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to quizzes", quizzes_path %>
</div>
